*{
    margin:0;
    padding: 0;

}
.top{

    height:40px;
    width: 100%;
    background-color: #98b4d6;
    border: 1px solid #98b4d6 ; 
     
}

#logo{
    color: #3ab0e2;
    display: inline-block;
    font-size: 40px;
    padding-top: 0px;
    padding-left: 10px;
    float:left ;
    
}
#txt{
    font-family: Times New Roman;
  color: #3671B9;
  margin-left: 10px;
  font-size: 24px;
  padding-left: 10px;  
  padding-top: 100pt;
  font-size: 22x;

}
li{
    list-style-type: none;
    float:right;
    font-size: 20px;
    text-align: center;
}
.b{
    font-size: 15px;
    background-color:#98b4d6 ;
    border: 0cm;
    padding-right: 20px;
    float:right;
    padding-top: 10px;
    padding: left 0;
}
.background1{
    background-color: #F7F7F7;
    height: 800px;
    width: 100%;
}
.middle{
    background-color:#ffffff;
    height: 725px;
    width: 70%;
    margin-top: 42px;
    margin-left: 20px;
    float:left;

}
.mid-a{
    background-color: #3671B9;
    height:55px;
    widows: 80px;
}
.mid-h{
    color: #ffffff;
    font-size: 26px;
    padding-left: 40px;
    padding-top: 10px;
}
.content{
    padding-top: 30px;
    padding-left: 40px;
}
.c-h1{
    color: #73B0E2;
    padding-top: 46px;
    padding-left: 100px;
}
#logo1{
    display: inline-block;
    font-size: 40px;
    padding-left: 10px;
    float:left ;
}   
.form{
    margin-right: 30px;
    margin-left: 0px;
    margin-top: 41px;
    height: 280px;
    width: 360px;
    background-color: rgb(255, 255, 255);
    float: right;
    
    
}
.form-a{
    background-color: #6FACF5;
    padding-left: 130px;
    height: 40px;
    padding-top: 10px;

}
.form-b{
    
    padding-left: 40px;
    color: #98b4d6 ;
}
.footer{
    float: inline-end;
    height: 35px;
    width: 100%;
    background-color: #0477A4;

}
.a{
    color: white;
    padding-left: 33%;
}
